<!DOCTYPE html>
<html>
<head>
 <title>Welcome to Yonnie's Blog</title>
</head>
<body>
 <!-- Site Header -->
 <h1>Hi. I am Yonnie. Welcome to my blog!</h1>

<!-- Blog Post -->
 <h2>My First Blog Post</h2>
 <p>Here is my first blog post. One day at the mall....</p>
<p><img style="width: 200px" src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2014/02/08/20/p18codeREX.jpg"></p>



<!-- Like And Comment -->
 <button>Like</button>
 <h2>Leave a Comment</h2>
 <form action="{% url 'blog:home_page' %}" method="POST">
 {% csrf_token %}
 <input type="text" placeholder="Please Enter Your username" name="username"><br><br>
 <textarea name="comment" placeholder="Please Enter Your Comment"></textarea><br>
 <input type="submit" value="Post Me!">
 </form>

<h2>Comments</h2>
 User {{username}} says: {{comment.comment}}
</body>
</html>